@import "/node_modules/bootstrap/scss/bootstrap";

$navbar-nav-link-padding-x: 0.75rem;
$navbar-light-color: $gray-100;
//THEME COLORS
$orange: rgba(218, 20, 20, 0.333);
$yellow: #ffc107;

$primary: $orange;
$secondary: $yellow;
//WHITE AND GRAY COLORS
// scss-docs-start gray-color-variables
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
